SOURCE_DATABASE_URL=postgresql://usuario:senha@host:5432/datadt_digital_corporativo

REDSHIFT_DATABASE_URL=redshift+psycopg2://usuario:senha@host:5439/vendas_dw
REDSHIFT_SSLMODE=require

DASHBOARD_DATABASE_URL=postgresql://usuario:senha@host:5433/aula

HDFS_URL=http://hadoop:9870
HDFS_USER=root
HDFS_DEST_PATH=/vendas/fato_vendas/
LOCAL_PARQUET_FOLDER=lake/fato_venda
AGGREGATION_YEARS=2024,2025,2026

DASH_HOST=0.0.0.0
DASH_PORT=8050
DASH_DEBUG=false
